
@{
    ViewBag.Title = "Sobre Nosotros";
    Layout = "~/Views/Shared/_AfterLogin.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .jumbotron {
        background-color: black;
        color: red;
        padding: 100px 25px;
    }

    .container-fluid {
        background-color: black;
        color: white;
    }

    .bg-grey {
        background-color: black;
    }

    .logo {
        font-size: 200px;
    }

    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
</style>

<!-- Container (About Section) -->
<div class="container-fluid">
    <div class="row" style="background:rgb(26, 26, 26)">
        <div class="col-sm-8">
            <h2 style="color:red">MISIÓN </h2>
            <p>Nuestra empresa Viaja Perú está asociada al rubro turístico, cuya función es la de organizar y vender paquetes turísticos en el que se puede tratar directamente con los clientes, pueden ir desde un simple viaje hasta un paquete de viajes completo en donde incluirá además del viaje la estancia en hoteles, reservas de automóviles, transporte por tierra y por mar.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row" style="background:rgb(26, 26, 26)">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-8">
            <h2 style="color:red">VISIÓN</h2>
            <p>LLegar a ser un agencia de viajes que lidera el mercado nacional y mantiene cubierto el mercado regional agilizando los procesos de venta. Brindar un servicio de buena calidad para nuestros posibles usuarios mediante diferentes medios de accesos y generar mercado para poder expandirnos a nivel nacional.</p>
        </div>
    </div>
</div>


