﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViajaPeru</title>
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" href="~/imgs/Logo/logo.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</head>
<body style="background:#1a1a1a">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/ViajaPeru/Index"><strong style="color:red">Viaja<strong style="color:white">Peru</strong></strong></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="About.html">Sobre Nosotros</a></li>
                <li><a href="#">Galeria</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Registrate", "Create_User")</li>
                <li>@Html.ActionLink("Iniciar Session", "Login")</li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        <!-- Container (About Section) -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h2>MISIÓN: </h2>
                    <p>Nuestra empresa Viaja Perú está asociada al rubro turístico, cuya función es la de organizar y vender paquetes turísticos en el que se puede tratar directamente con los clientes, pueden ir desde un simple viaje hasta un paquete de viajes completo en donde incluirá además del viaje la estancia en hoteles, reservas de automóviles, transporte por tierra y por mar.</p>
                </div>
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-signal logo"></span>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-grey">
            <div class="row">
                <div class="col-sm-4">
                    <span class="glyphicon glyphicon-globe logo"></span>
                </div>
                <div class="col-sm-8">
                    <h2>VISIÓN</h2>
                    <p>LLegar a ser un agencia de viajes que lidera el mercado nacional y mantiene cubierto el mercado regional agilizando los procesos de venta. Brindar un servicio de buena calidad para nuestros posibles usuarios mediante diferentes medios de accesos y generar mercado para poder expandirnos a nivel nacional.</p>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <hr />
    <footer>
        <p style="color:white;">&copy;ViajaPeru. All rights reserved.</p>
    </footer>

</body>
</html>