
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="login">
    <input type="text" placeholder="Usuario" name="user"><br>
    <input type="password" placeholder="Contraseña" name="password"><br>
    <input type="button" value="Login">
</div>